body {
    font-family: Arial;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
}

th, td {
    border: 1px solid rgb(0,0,0);
    padding: 8px;
}

th {
    background-color: rgb(194, 191, 191);
    text-align: left;
}

.aa {
    background-color: rgb(20, 196, 72); 
}

.ab {
    background-color: rgb(207, 20, 29);
}

.ac {
    background-color: rgb(43, 156, 248);
}

.ad {
    background-color: rgb(227, 247, 47);
}

.ai {
    background-color: rgb(149, 17, 167);
}

.af {
    background-color: rgb(61, 187, 204);
}

.ag {
    background-color: rgb(39, 102, 50);
}